*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: white;
    color: black;
}
header {
    background: darkcyan;
    color: white;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    background: cadetblue;
    border-radius: 10px;
}
img {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
section {
    margin: 30px;
    padding: 20px;
    background: white;
    border-radius: 8px;
}
h2 {
    color: darkcyan;
}
h3 {
    color: lightskyblue;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 7px slategrey;
}
thead th {
  background: lightseagreen;
  color: white;
  font-weight: bold;
  padding: 12px 8px;
  text-align: left;
}
tbody td {
  padding: 10px 8px;
  border-bottom: 1px solid white;
}

.img {
    max-width: 100%;
    margin-top: 12px;
    border-radius: 8px;
}


@media (max-width: 576px) {
    body {
        background: silver; 
    }
    nav { 
        flex-direction: column;
        align-items: flex-start; 
    }
    nav ul { 
        flex-direction: column; 
        gap: 10px; 

    }
    ul{
        padding-left: 20px;
        list-style-position: inside;
    }
    section { 
        padding: 10px; 
    }
      table, thead, tbody, tr, th, td {
        display: block;
        width: 100%;
  }
}



@media (min-width: 577px) and (max-width: 768px) {
    body { 
        background: cadetblue; 
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background: #b6eaff;
    }
}


@media (min-width: 1025px) {
    body{ 
        background: whitesmoke; 
    }
}